<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>
     <!-- Navbar -->
     <nav id="navbar">
        <h1 class="logo">
            FilmKu
        </h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shows">Film</a></li>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
    </nav>
    <h1>Add to My List</h1>
    <form action="/filmlist/<%=id%>/<%=title%>" method="POST">
    <p><%=title%></p>
    <div>
        <p><label for="status">Status</label></p>
        <p><select name="status" >
            <option value="">Select</option>
            <option value="currently_watching">Currently Watching</option>
            <option value="completed">Completed</option>
            <option value="plantowatch">Plan to Watch</option>
            <option value="dropped">Dropped</option>
        </select></p>
    </div>
    <button type="submit">Save</button>
    </form>
</body>
</html>