<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Form</h1>
    <p><%= error ? error: ''%></p>
    <p><a href="/users/logout">Logout</a></p>
    <form action="/users/login" method="POST">
        <div>
            <p><label for="username">username</label></p>
            <p><input type="text" name="username"></p>
        </div>
        <div>
            <p><label for="password">Password</label></p>
            <p><input type="password" name="password"></p>
        </div>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>